.movie {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #FDFDFD;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 16px 24px 0 rgba(0, 0, 0, .05);
}

.movie__pic {
  width: 100%;
}

.movie__title {
  margin-top: 14px;
  font-weight: 500;
  font-size: 13px;
  color: #000;
}

.movie__divider {
  display: flex;
  background-color: #E8E8E8;
  height: 1px;
  margin-top: 29px;
}

.movie__duration {
  margin-top: 6px;
  font-weight: 400;
  font-size: 11px;
  line-height: auto;
  color: #A0A0A0;
}