.search {
  padding: 80px 70px 10px;
  background-color: #FFF;
}

.search__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 28px;
}

.search__line {
  display: flex;
  gap: 10px;
}

.search__box-text {
  display: flex;
  width: 100%;
  background-color: #F9F9F9;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #F9F9F9;
  border-radius: 8px;
}

.search__text {
  margin: 16px 0 16px 20px;
  background-color: #F9F9F9;
  width: 100%;
  padding: 0;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #A0A0A0;
}

.search__box-radio {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 12px;
}

.search__submit {
  padding: 0;
  border: none;
  background-color: #FFF;
}

.search__radio-description {
  display: flex;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #000;
}

.search__divider {
  display: flex;
  background-color: #E5E5E5;
  height: 1px;
  margin-top: 83px;
}

.search__radio {
  position: absolute;
  visibility: hidden;
}

.search__radio-set {
  display: flex;
  background-color: #2BE080;
  width: 36px;
  height: 20px;
  border-radius: 20px;
}

.search__radio-set-round {
  display: flex;
  background-color: #fff;
  margin: 6px 6px 6px auto;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.search__radio-unset {
  display: flex;
  background-color: #C4C4C4;
  width: 36px;
  height: 20px;
  border-radius: 20px;
}

.search__radio-unset-round {
  display: flex;
  background-color: #F5F5F5;
  margin: 6px auto 6px 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .search {
    padding: 60px 30px 10px;
    background-color: #FFF;
  }
}

@media screen and (max-width: 700px) {
  .search {
    padding: 60px 30px 10px;
    background-color: #FFF;
  }

  .search {
    padding: 80px 14px 10px;
    background-color: #FFF;
  }
}