.tech {
  display: flex;
  flex-direction: column;
  padding: 100px 70px;
  color: #F5F5F5;
}

.tech__title {
  display: flex;
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  color: #000;
}

.tech__divider {
  display: flex;
  background-image: url('../../images/about__line.png');
  height: 1px;
  margin-top: 23px;
}

.tech__description {
  display: flex;
  flex-direction: column;
  margin: 90px auto 0;
  padding: 0;
}

.tech__description-title {
  display: flex;
  margin: 0 auto;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  color: #000;
}

.tech__description-text {
  display: flex;
  margin: 26px auto 0;
  width: 460px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #000;
}

.tech__stack-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px auto 0;
  padding: 0;
  gap: 10px;
}

.tech__stack-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 60px;
  border-radius: 10px;
  background-color: #E8E8E8;
}

.tech__stack-title {
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #000;
}

@media screen and (max-width: 768px) {
  .tech {
    padding: 90px 50px;
  }

  .tech__description-text {
    font-size: 12px;
    line-height: 18px;
  }

  .tech__stack-list {
    margin-top: 83px;
  }

  .tech__stack-item {
    width: 84px;
    height: 57px;
  }

  .tech__stack-title {
    font-size: 12px;
  }
}

@media screen and (max-width: 700px) {
  .tech {
    padding: 70px 18px;
  }

  .tech__title {
    font-size: 18px;
  }

  .tech__description {
    margin-top: 60px;
  }

  .tech__description-title {
    font-size: 30px;
  }

  .tech__description-text {
    margin-top: 24px auto 0;
    width: 292px;
    font-size: 11px;
    line-height: 16px;
  }

  .tech__stack-list {
    margin-top: 50px;
    padding: 0 65px 0;
  }
}