.profile {
  display: flex;
  flex-direction: column;
  padding: 74px 30px 70px;
}

.profile__title {
  margin: 0 auto 123px;
  font-weight: 500;
  font-size: 24px;
  color: #000;
}

.profile__form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.profile__box {
  display: flex;
  justify-content: space-between;
}

.profile__form-title {
  font-weight: 500;
  font-size: 11px;
  color: #000;
}

.profile__input {
  margin-left: 147px;
  border: none;
  text-align: right;
  font-weight: 400;
  font-size: 11px;
  color: #000;
}

.profile__divider {
  display: flex;
  margin: 16px 0 17px;
  background-color: #E8E8E8;
  height: 1px;
}

.profile__eddit {
  border: none;
  margin: 220px auto 0;
  background-color: #fff;
  font-weight: 400;
  font-size: 13px;
  color: #000;
}

.profile__exit {
  border: none;
  margin: 16px auto 0;
  background-color: #fff;
  font-weight: 400;
  font-size: 13px;
  color: #FF004D;
}

@media screen and (max-width: 768px) {
  .profile {
    display: flex;
    flex-direction: column;
    padding-top: 236px;
  }

  .profile__title {
    margin: 0 auto 96px;
  }

  .profile__eddit {
    margin-top: 210px;
  }
}

@media screen and (max-width: 700px) {

  .profile__eddit {
    font-size: 12px;
  }
  
  .profile__exit {
    font-size: 12px;
  }
}